[Unit]
Description=Session Push Notification Server -- central push handler (hivemind)
After=network-online.target
PartOf=spns.target

[Service]
User=push
Group=_loki
Type=notify
WatchdogSec=1min
WorkingDirectory=/home/push/session-push-notification-server
LimitNOFILE=16384
Restart=always
RestartSec=2s
ExecStart=/home/push/bin/SPNS spns.ini

[Install]
WantedBy=multi-user.target
